{% extends "base.html" %}
{% block title %}Carrito{% endblock %}
{% block content %}

<body>

<h1> carrito de compras</h1>

<div class="carrito-view">
    {% if productos %}
    <table class="tabla_carrito">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for p in productos %}
            <tr>
                <td>
                    <img src="{{ url_for('static', filename='uploads/' + p.imagen) }}" alt="{{ p.nombre_producto }}" width="80">
                </td>
                <td>{{ p.nombre_producto }}</td>
                <td>${{ p.precio }}</td>
                <td>
                    <form action="{{ url_for('actualizar_carrito', id=p.id_producto) }}" method="POST">
                        <button name="accion" value="restar" class="btn btn-warning">−</button>
                        <span>{{ p.cantidad }}</span>
                        <button name="accion" value="sumar" class="btn btn-success">+</button>
                    </form>
                </td>
                <td>
                    <a href="{{ url_for('eliminar_del_carrito', id=p.id_producto) }}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="tabla-box">
            Total: ${{ total }}
            <a href="{{ url_for('vaciar_carrito') }}" class="btn btn-warning">Vaciar Carrito</a>
            <a href="{{ url_for('pago') }}" class="btn btn-warning">Pagar</a>
        </div>
        {% else %}
            <p>Tu carrito está vacío 🛍️</p>
        {% endif %}
        <!-- Al final del body, antes de cerrar </body> -->
{% include 'footer_boutique.html' %}
    </div>

{% endblock %}

